/* 
body - all elements were justified and has a minimal margin
a - the source links were originally color blue, changed to black with a little bolder format
.recipe-pic - centered with some border lines.
h2 - for some reason, class calling wont work. So I settled with just having all h2 with the 
        same font and style
*/
body {
    margin: 10%;
    text-align: justify;
    zoom: 150%;
}

a {
    color: black;
    font-weight: 600;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

.recipe-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #cfe06b;
    padding: 20px;
}

.description {
    font-style: italic;
}

h2 {
    font-family: 'Times New Roman', Times, sans-serif;
}